.app {
    display: grid;
    margin: 0px;
    grid-template-columns: 225px 1fr;
    grid-template-rows: 100px 1fr 60px;
    grid-template-areas:
        "logo header"
        "menu content"
        "menu footer";
    height: 100vh;
}

.logo-area {
    grid-area: logo;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-area {
    grid-area: header;
    background-color: lightgray;
}

.menu-area {
    grid-area: menu;
    display: flex;
    flex-direction: column;
    background-color: #b1c7d3;
}

.content-area {
    grid-area: content;
    display: grid;
}

.footer-area {
    grid-area: footer;
    display: flex
}

.footer-area input {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    height: 45px;
    padding: 0 15px;
    font-size: 16px;
    width: 100%;
}
